doctype html
html
    head
    body
        include mixin
        include colorstype/header-logo.pug
        .cards__wrapper
            include cards/room-finder
            include cards/book-form
            include cards/calendar
            include cards/register-form
            include cards/login-form
            include cards/room.pug
            include cards/roomluxe.pug