doctype html
html
    head
    body
        include mixin        
        .header__wrapper
            include colorstype/header-logo.pug
            include headers/header.pug
            include headers/header-logged.pug
            include headers/footer.pug
            include headers/footer-small.pug