.expandable-list
    label.expandable-list__title-label(for="expandable-checkbox-list") 
        input.expandable-list__title-input(id="expandable-checkbox-list" type='checkbox')
        p.expandable-list__title-text Expandable checkbox
        span.material-icons.expandable-list__control.expandable-list__expand expand_more
        span.material-icons.expandable-list__control.expandable-list__collapse expand_less
        ul.expandable-list__list
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox" name="exp-checkbox")
                    span.expandable-list__style
                    | Завтрак
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                    span.expandable-list__style
                    | Письменный стол
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                    span.expandable-list__style
                    | Стул для кормления
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox" checked name="exp-checkbox")
                    span.expandable-list__style
                    | Кроватка
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox"  name="exp-checkbox")
                    span.expandable-list__style
                    | Телевизор
            li.expandable-list__item
                label.expandable-list__label
                    input.expandable-list__input(type="checkbox" name="exp-checkbox")
                    span.expandable-list__style
                    | Шампунь
