.rate 
    .rate__scale
        input.rate__input(id='star-a' value='5' type="radio" name="rating-star")
        label.rate__label.material-icons(for="star-a")
        input.rate__input(checked id='star-b' value='4' type="radio" name="rating-star")
        label.rate__label.material-icons(for="star-b")
        input.rate__input(id='star-c' value='3' type="radio" name="rating-star")
        label.rate__label.material-icons(for="star-c")
        input.rate__input(id='star-d' value='2' type="radio" name="rating-star")
        label.rate__label.material-icons(for="star-d")
        input.rate__input(id='star-e' value='1' type="radio" name="rating-star")
        label.rate__label.material-icons(for="star-e")
    .rate__scale
        input.rate__input(id='star-1' checked type="radio" name="rating-star2")
        label.rate__label.material-icons(for="star-1")
        input.rate__input(id='star-2' type="radio" name="rating-star2")
        label.rate__label.material-icons(for="star-2")
        input.rate__input(id='star-3' type="radio" name="rating-star2")
        label.rate__label.material-icons(for="star-3")
        input.rate__input(id='star-4' type="radio" name="rating-star2")
        label.rate__label.material-icons(for="star-4")
        input.rate__input(id='star-5' type="radio" name="rating-star2")
        label.rate__label.material-icons(for="star-5")
