.toggle 
    label.toggle__label
        input.toggle__input(type='checkbox' checked)
        span.toggle__slider
        | Получать спецпредложения
    label.toggle__label
        input.toggle__input(type='checkbox')
        span.toggle__slider
        | Получать спецпредложения