.checkbox-buttons 
    ul.checkbox-buttons__list
        li.checkbox-buttons__item 
            label.checkbox-buttons__label
                input.checkbox-buttons__input(type="checkbox" name='checkbox-button'  id='smoke') 
                span.checkbox-buttons__style 
                | Можно курить
        li.checkbox-buttons__item 
            label.checkbox-buttons__label 
                input.checkbox-buttons__input(type="checkbox" name='checkbox-button' checked id='pet')
                span.checkbox-buttons__style 
                | Можно с питомцами
        li.checkbox-buttons__item 
            label.checkbox-buttons__label 
                input.checkbox-buttons__input(type="checkbox" name='checkbox-button' checked id='party')
                span.checkbox-buttons__style 
                | Можно пригласить гостей (до 10 человек)