.iqdropdown-guest(id='iqdropdown2' placeholder="Сколько гостей")
    p.iqdropdown-selection Сколько гостей
    .iqdropdown-menu 
        .iqdropdown-menu-option(data-id="guest1"  data-defaultcount="0" data-mincount="0" data-maxcount="4")
            div 
                p.iqdropdown-item взрослые
        .iqdropdown-menu-option(data-id="guest2" data-defaultcount="0" data-mincount="0" data-maxcount="6")
            div 
                p.iqdropdown-item дети
        .iqdropdown-menu-option(data-id="guest3" data-defaultcount="0" data-mincount="0" data-maxcount="2")
            div 
                p.iqdropdown-item младенцы
        .iqdropdown-buttons
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__clear очистить
            .iqdropdown-buttons__button
                button.iqdropdown-buttons__apply применить


