.radio-buttons 
    .radio-buttons__wrapper
        label.radio-buttons__label
            input.radio-buttons__input(type='radio' name='sex' value='male')
            span.radio-buttons__style 
            | Мужчина
        label.radio-buttons__label
            input.radio-buttons__input(type='radio' name='sex' value='female' checked)
            span.radio-buttons__style 
            | Женщина