.review
    .review__profile 
        .review__profile-avatar
            img.review__profile-img(src=require("../images/profile-pic.jpg"))
        .review__profile-info
            p.review__profile-name Мурад Сарафанов
            p.review__profile-date 5 дней назад
    .review__like 
        include ./like
    p.review__text.
        Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.