.subscription-text-field 
    label.subscription-text-field__label(for="subscribe")
        input.subscription-text-field__input(type='email' placeholder="Email")
        span.material-icons.subscription-text-field__icon arrow_forward