.text-field
    label.text-field__label(for="text-field")
        input.text-field__input(type="text", name="text-field" placeholder="Email")
    p.text-field__descr default
.text-field
    label.text-field__label(for="text-field")
        input.text-field__input(type="text", name="text-field" placeholder="This is pretty awesome")
    p.text-field__descr hover / focus