.ups 
    .ups__item
        span.material-icons.ups__icon insert_emoticon 
        .ups__description
            h3.ups__title Комфорт
            p.ups__text Шумопоглощающие стены
    .ups__separator 
    .ups__item
        span.material-icons.ups__icon location_city
        .ups__description
            h3.ups__title Удобство
            p.ups__text Окно в каждой из спален