.richcheckbox 
    ul.richcheckbox__list
        li.richcheckbox__item 
            label.richcheckbox__label
                input.richcheckbox__input(type="checkbox" name='checkbox-button'  id='smoke') 
                span.richcheckbox__style 
                h4.richcheckbox__name Широкий коридор
                p.richcheckbox__text Ширина коридоров в номере не менее 91 см.
        li.richcheckbox__item 
            label.richcheckbox__label 
                input.richcheckbox__input(type="checkbox" name='checkbox-button' checked id='pet')
                span.richcheckbox__style 
                h4.richcheckbox__name Помощник для инвалидов
                p.richcheckbox__text На 1 этаже вас встретит специалист  и проводит до номера.