.book-form
    .book-form__room
        .book-form__room-info
            .book-form__room-number
                p.book-form__room-text.book-form__room-text--small № 
                p.book-form__room-text 888
            .book-form__room-class
                p.book-form__room-text.book-form__room-text--class люкс
        .book-form__room-price
            p.book-form__room-text.book-form__room-text--price 9 990₽ 
            p.book-form__room-text.book-form__room-text--name в сутки
    .room-finder__date
        .room-finder__calendar
            +heading('Прибытие')
            +calendar('arrival2')
        .room-finder__calendar
            +heading('выезд')
            +calendar('departure2')
    .book-form__guests
        .room-finder__guests
            +heading('гости')
            include ../form/guest-dropdown
    .book-form__summary
        .book-form__summary-block
            p.book-form__summary-line 9 990₽ х 4 суток
            p.book-form__summary-line Сбор за услуги: скидка 2 179₽
            p.book-form__summary-line Сбор за дополнительные услуги
        .book-form__summary-icon
            span.book-form__summary-span i
            span.book-form__summary-span i
            span.book-form__summary-span i
        .book-form__summary-price
            p.book-form__summary-cost 39 960₽
            p.book-form__summary-cost 0₽
            p.book-form__summary-cost 300₽
    .book-form__total
        p.book-form__total-line Итого
        p.book-form__total-line 38 081₽
    .room-finder__button-wrapper
            +arrow-button('забронировать') 