.room-finder
    .room-finder__container
        .room-finder__text
            p Найдём номера под ваши пожелания
        .room-finder__date
            .room-finder__calendar
                +heading('Прибытие')
                +calendar('arrival')
            .room-finder__calendar
                +heading('выезд')
                +calendar('departure')
        .room-finder__guests
            +heading('гости')
            include ../form/guest-dropdown/guest-dropdown
        .room-finder__button-wrapper
            +arrow-button('Подобрать номер') 