.register-form
    +h1heading('Регистрация аккаунта')
    .register-form__cred
        +text-field('Имя', 'name', 'text-field__fit')
        +text-field('Фамилия', 'surname', 'text-field__fit')
    .register-form__sex
        form.radio-buttons__wrapper
            +radio('male', 'sex', 'Мужчина')
            +radio('female', 'sex', 'Женщина')
    .register-form__birthday
        +heading('дата рождения')
        +calendarwide('datedropdown', 'date-dropdown__input--wide', 'date-dropdown__icon--inv')
    .register-form__account
        +heading('Данные для входа в сервис', 'form__title--acc')
        +email-field
        +pass-field
    .register-form__subscription
        +toggle('Получать спецпредложения')
    .register-form__buttons
        +arrow-button('перейти к оплате', 'pay--margin')
    .register-form__login
        a.register-form__login-text Уже есть аккаунт на Toxin
        .register-form__login-link
            +bigbutton-tr('войти')