@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Regular.svg);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Regular.woff);
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}




@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Bold.svg);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}




@font-face {
    font-family: 'Material Icons';
    src: url(/src/fonts/MaterialIcons-Regular.svg);
    font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: 'Material Icons';
    src: url(/src/fonts/MaterialIcons-Regular.woff);
    font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: 'Material Icons';
    src: url(/src/fonts/MaterialIcons-Regular.ttf);
    font-style: normal;
  font-weight: 400;
}