@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(/src/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Material Icons';
    src: url(/src/fonts/MaterialIcons-Regular.ttf);
    font-style: normal;
  font-weight: 400;
}