html,
body {
	height: 100%;
	max-width: 1440px;
	width: 100%;
	background-color: #e5e5e5;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
}
input[type='text'],[type='email']{
        height: 44px;
        border: 1px solid $ds25;
        border-radius: 4px;
		padding-left: 12px;
        &::placeholder {
            @include text-font;
            line-height: 18px;
            color: $ds25;
            width: 40px;
            height: 18px;
            padding: 13px 265px 13px 0px;
        }
        &:hover,
        &:active{
			border: 1px solid $ds50;
			&::placeholder{
            @include text-font;
            color: $ds75;
			}
        }
}
label{
	margin-bottom: 5px;
	@include h3-font;
	text-transform: uppercase;
}
/*.info-email{
font-weight: 600;
color: #363838;
font-size: 14px;
margin-bottom: 22px;
padding-left: 30px;
display: inline-block;
position: relative;
&::before{
	content: '';
	background-image: url(../images/envelope.svg);
	position: absolute;
	left: 0;
	width: 16px;
	height: 12px;
	top: 5px;
}
}*/