.form {
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding-left: 110px;
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    &__title {
        margin-top: 10px;
        @include h3-font;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__title--acc{
        margin-bottom: 5px;
    }
    &__h1title{
        @include h1-font;
        text-transform: initial;
        margin-bottom: 23px;
        margin-right: 1px;
    }
}

.text-field {
    @include field;
    &:last-of-type{
        margin-bottom: 0;
    }
    &-container {

        width: 320px;
        position: relative;
    }

    &__label {
        margin-bottom: 0px;
    }

    &__input {
        width: 320px;
    }

    &__input--hover {
        width: 320px;
        border: 1px solid $ds50 !important;

        &::placeholder {
            color: $ds75 !important;
        }
    }

    &__descr {
        z-index: 1;
        @include h3-font;
        color: $ds50;
        font-weight: normal;
        text-transform: uppercase;
        position: absolute;
        right: 2px;
        bottom: 70px;
    }
}

.masked-text-field {
    @include field;
}

.subscription-text-field {
    width: 320px;
    margin-bottom: 40px;
    display: block;

    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 260px;

    }

    &__icon {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        background-clip: none;
        color: transparent;
        position: absolute;
        top: 10px;
        left: 225px;
    }
}

.checkbox-buttons {
    background-color: #fff;
    width: 230px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;

    &__list {
        margin-top: 12px;
        display: block;
        margin-left: 0px;
    }

    &__item {
        display: flex;
        margin-bottom: 31px;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    &__label {
        @include text-font;
        line-height: 18px;
        text-transform: none;
        color: $ds50;
        margin: 0 6px 12px 0px;
        padding-left: 30px;
        position: absolute;
        width: 230px;
    }

    &__style {
        position: absolute;
        top: -1px;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 4px;
    }
}

.checkbox-buttons__input:checked~.checkbox-buttons__style::before {
    content: '';
    width: 8px;
    height: 6px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    top: 30%;
    left: 28%;
    transform: rotate(-45deg);
    z-index: 1;
}

.checkbox-buttons__input:checked~.checkbox-buttons__style::after {
    content: '';
    width: 8px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 17%;
    left: 28%;
    transform: translate(-30%, -30%);
    transform: rotate(-45deg);
    z-index: 1;
}

.checkbox-buttons__input:checked~.checkbox-buttons__style {
    border: 1px solid #BC9CFF;
    transition: all 0.1s;
}

.checkbox-buttons__input:hover~.checkbox-buttons__style,
.checkbox-buttons__input:focus~.checkbox-buttons__style {
    border: 1px solid #8BA4F9;
    transition: all 0.1s;
}

.radio-buttons {
    height: 55px;
    margin-bottom: 18px;

    &__wrapper {
        width: 118px;
        display: flex;
        justify-content: space-between;
    }

    &__label {
        padding-left: 30px;
        @include text-font;
        text-transform: capitalize;
        color: $ds75;
        margin-right: 40px;
        position: relative;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &__style {
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 50%;
        top: 2px;
        left: 0;
    }
}

.radio-buttons__input:checked~.radio-buttons__style::before {
    content: '';
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.radio-buttons__input:checked~.radio-buttons__style {
    border: 1px solid #BC9CFF;
    transition: all 0.1s;
}

.radio-buttons__input:hover~.radio-buttons__style,
.radio-buttons__input:focus~.radio-buttons__style {
    border: 1px solid #8BA4F9;
    transition: all 0.1s;
}

.toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7px;

    &__label {
        margin-left: 50px;
        padding-bottom: 10px;
        @include text-font;
        text-transform: none;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &__slider {
        position: absolute;
        width: 40px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 10px;
        left: 0;
        margin-top: 2px;
    }

    &__slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        border-radius: 10px;
        left: 10%;
        bottom: 16%;
        background-color: $ds25;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.toggle__input:checked~.toggle__slider {
    border: 1px solid #BC9CFF;
    transition: .4s;
}

.toggle__input:checked~.toggle__slider:before {
    left: 60%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.toggle__input:hover~.toggle__slider,
.toggle-buttons__input:focus~.toggle__slider {
    border: 1px solid #BC9CFF;
    transition: .4s;
}

.like-container {
    display: flex;
    margin-top: 10px;
}

.like {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    &__label {
        margin-right: 10px;
        @include text-font;
        color: $ds25;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &__icon {
        position: relative;
        margin-top: 10px;
        padding-right: 0px;
        font-size: 10px;
        line-height: 9px;
    }

    &__icon::after {
        position: absolute;
        content: '\e87e';
        top: -10px;
        left: 5px;
    }

    &__icon::before {
        margin-left: 21px;
        position: absolute;
        content: '';
        top: -16px;
        left: -20px;
        width: 40px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 10px;
    }

    &__num {
        margin-left: 21px;
        padding-bottom: 2px;
    }
}

.like__input:checked~.like__icon,
.like__input:checked~.like__icon::after,
.like__input:checked~.like__num {
    content: '\e87d';
    color: #BC9CFF;
}

.like__input:checked~.like__icon::before,
.like__input:hover~.like__icon::before {
    content: '';
    color: #BC9CFF;
    border-color: $pur;
    transition: 0.4s;
}

.rate {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    font-size: 20px;

    &__label {
        line-height: 20px;
        padding-top: 0;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &__scale {
        display: flex;
        flex-direction: row-reverse;
    }

    &__label {
        padding-right: 24px;
        padding-bottom: 5px;
    }

    &__label::before {
        font-size: 24px;
        line-height: 20px;
        position: absolute;
        content: '\e83a';
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        background-clip: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.rate__input:checked~.rate__label::before {

    content: '\e838';
}

.ui-slider {
    height: 6px;
    border: 1px solid $ds25;
    position: relative;

    &-range {
        position: absolute;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        height: 6px;
    }
}

.ui-slider .ui-slider-handle {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    margin-top: -1.5px;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus,
.ui-widget-content {
    color: transparent !important;
    outline: none;
}

.range-slider {
    position: relative;
    margin-bottom: 16px;
    width: 266px;

    &__result {
        position: absolute;
        top: -38px;
        right: 0;
        @include h3-font;
        color: $ds50;
        font-weight: 400;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 217px;
    justify-content: space-between;
}
.space{
    height: 40px;
    width: 200px;
}
.button {
    @include h3-font;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 22px;
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    height: 34px;
    width: fit-content;
    text-align: center;
    padding: 10px 20px 9px 19px;

    &__force-hov,
    &:hover {
        opacity: .5;
    }

    &__force-hov:hover {
        opacity: 1;
    }

    &__icon-link {
        background: none;
        color: $pur;

        &:hover,
        &--force {
            opacity: 1;
            color: $ds50;
        }
    }

}

.button__gradient {
    position: relative;
    min-width: 87px;
    height: 34px;
    background: linear-gradient(to bottom, (#BC9CFF 0%, #8BA4F9 100%));
    margin-top: 0px;
    border-radius: 24px;
}
.button__gradient--big{
    position: relative;
    min-width: 99px;
    height: 44px;
    background: linear-gradient(to bottom, (#BC9CFF 0%, #8BA4F9 100%));
    margin-top: 0px;
    border-radius: 24px;
}
.button__gradient:hover,
.button__force-gr {
    z-index: 1;
    height: 34px;
    background: linear-gradient(180deg, rgba(188, 156, 255, .5), rgba(139, 164, 249, .5));
    border-radius: 24px;
}
.button__gradient--big:hover{
    height: 44px;
}
.button--tr {
    padding: 0px 10px;
    position: absolute;
    left: 2px;
    bottom: 2px;
    height: 30px;
    width:83px;
    background: #fff;
    color: $pur;
}

.button--tr:hover {
    background: #fff;
    opacity: 1;
}
.button--big{
    padding: 0px 10px;
    position: absolute;
    left: 2px;
    bottom: 2px;
    height: 40px;
    width:95px;
}
.pay {
    margin-right: 4px;
    margin-top: 1px;
    &--margin{
        margin-top: 7px;
        margin-bottom: 26px;
    }
    &__button {
        @include h3-font;
        text-transform: uppercase;
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        height: 44px;
        width: 320px;
        border: none;
        border-radius: 22px;
        position: relative;

        &:hover {
            opacity: .5;
        }
    }

    &__arrow {
        position: absolute;
        content: '';
        right: 9px;
        top: 11px;
    }
}

.pagination {
    margin-bottom: 60px;
    width: 242px;
    @include h3-font;
    color: $ds50;
    position: relative;
    display: block;

    &__list {
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-weight: normal;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 22px;
        background: transparent;
        padding-left: 1px;
    }

    &__item--active {
        color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        width: 40px;
        height: 40px;
    }

    &__prev {
        display: none;
        width: 40px;
    }

    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        width: 40px;
        height: 40px;
        border-radius: 22px;
    }

    &__text {
        margin-left: 8px;
        @include text-font;
        padding-top: 48px;
    }
}

.ups {
    @include text-font;
    padding-bottom: 40px;

    &__item {
        width: 291px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        font-size: 48px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: transparent;
        background-clip: none;
        -webkit-background-clip: text;
        -moz-background-clip: text;

    }

    &__description {
        margin-left: 10px;
    }

    &__title {
        font-weight: 700;
    }

    &__separator {
        width: 280px;
        height: 1px;
        background-color: rgba(#1F2041, .1);
        margin-bottom: 20px;

    }
}

.bullet {
    @include text-font;
    padding-bottom: 40px;

    &__list {
        width: 242px;
        margin-left: 20px;
    }

    &__item {
        margin-bottom: 10px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 6px;
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $ds25;
        }
    }
}

.expandable-list {

    background-color: #fff;
    width: 266px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;

    &__control {
        position: absolute;
        top: 0;
        right: 10px;
    }

    &__title-input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    &__title-text {
        margin-top: 4px;
        padding-bottom: 17px;
    }

    &__control {
        color: $ds50;
    }

    &__list {
        margin-top: 17px;
        display: block;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    &__label {
        @include text-font;
        line-height: 18px;
        text-transform: none;
        color: $ds50;
        margin: 0 0 11px 0px;
        padding-left: 30px;
        position: absolute;
    }

    &__style {
        position: absolute;
        top: -1px;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 4px;
        left: 0;
    }

    &__style:last-child {
        bottom: 1px;
    }
}
.expandable-list__title-input~.expandable-list__collapse,
.expandable-list__title-input:checked~.expandable-list__expand,

.expandable-list__title-input~.expandable-list__list {
    display: none;
}

.expandable-list__title-input:checked~.expandable-list__collapse,
.expandable-list__title-input~.expandable-list__expand,
.expandable-list__title-input:checked~.expandable-list__list {
    display: block;
}





.expandable-list__input:checked~.expandable-list__style::before {
    content: '';
    width: 8px;
    height: 6px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    top: 30%;
    left: 28%;
    transform: rotate(-45deg);
    z-index: 1;
}

.expandable-list__input:checked~.expandable-list__style::after {
    content: '';
    width: 8px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 17%;
    left: 28%;
    transform: translate(-30%, -30%);
    transform: rotate(-45deg);
    z-index: 1;
}

.expandable-list__input:checked~.expandable-list__style {
    border: 1px solid #BC9CFF;
    transition: all 0.3s;
}

.expandable-list__input:hover~.expandable-list__style,
.expandable-list__input:focus~.expandable-list__style {
    border: 1px solid #8BA4F9;
    transition: all 0.3s;
}

.richcheckbox {
    background-color: #fff;
    width: 266px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    margin-top: 0px;

    &__list {
        margin-top: 15px;
        display: block;
    }

    &__item {
        display: flex;
        margin-bottom: 62px;
        position: relative;
    }

    &__item:first-child .richcheckbox__label .richcheckbox__text {
        width: 200px;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    &__label {
        @include text-font;
        line-height: 18px;
        text-transform: none;
        color: $ds50;
        margin: 0px 0 12px 0px;
        padding-left: 30px;
        position: absolute;
    }

    &__name {
        @include text-font;
        line-height: 18px;
        font-weight: 700;
        margin-top: 2px;
        margin-bottom: 6px;
    }

    &__text {
        width: 234px;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $ds50;
    }

    &__style {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 4px;
    }
}

.richcheckbox__input:checked~.richcheckbox__style::before {
    content: '';
    width: 8px;
    height: 6px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    top: 30%;
    left: 28%;
    transform: rotate(-45deg);
    z-index: 1;
}

.richcheckbox__input:checked~.richcheckbox__style::after {
    content: '';
    width: 8px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 17%;
    left: 28%;
    transform: translate(-30%, -30%);
    transform: rotate(-45deg);
    z-index: 1;
}

.richcheckbox__input:checked~.richcheckbox__style {
    border: 1px solid #BC9CFF;
    transition: all 0.1s;
}

.richcheckbox__input:hover~.richcheckbox__style,
.richcheckbox__input:focus~.richcheckbox__style {
    border: 1px solid #8BA4F9;
    transition: all 0.1s;
}

.review {
    display: flex;
    margin-bottom: 40px;
    position: relative;

    &__profile {
        width: 48px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    &__profile-img {
        margin-top: 1px;
        width: 48px;
        height: 48px;
        max-width: 48px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    &__like .like {
        position: absolute;
        left: 3px;
        top: 64px;
        font-size: 10px;
        line-height: 12px;
    }

    &__info {
        margin: 0px 10px 0 9px;
        display: flex;
        flex-direction: column;
    }

    &__info-name {
        margin-left: 1px;
        @include text-font;
        font-weight: 700;
    }

    &__info-date {
        @include text-font;
        margin-bottom: 10px;
    }

    &__info-text {
        width: 653px;
        margin-left: 1px;
        @include text-font;
    }
}

.datedropdown-container {
    display: flex;
}

.date-dropdown {
    margin: 5px 20px 10px 0;
    position: relative;

    &__input {
        @include text-font;
        line-height: 18px;
        width: 150px;
        -webkit-appearance: none;
        padding-left: 14px;
    }
    &__input--wide{
        width: 320px;
    }
    &__icon {
        position: absolute;
        z-index: 2;
        top: 11px;
        left: 117px;
    }
    &__icon--wide{
        left: 280px;
    }
    &__icon--inv{
        opacity: 0;
    }
}
.search__filter{
    .filterdate .date-dropdown__icon{
        left: 232px;
    }
    .filterdate__input{
        width: 266px;
    }
}
.air-datepicker {
    width: 320px;
    height: 369px;
    @include h2-font;

    &--content {
        height: 240px;
        padding: 20px;
        padding-bottom: 9px;
    }

    --adp-day-cell-width: 40px;
    --adp-day-cell-height: 40px;
    --adp-year-cell-width: 40px;
    --adp-year-cell-height: 40px;
    --adp-month-cell-width: 40px;
    --adp-month-cell-height: 55px;

    &--pointer {
        width: 0;
        height: 0;
    }

    &--navigation {
        padding-top: 4px;
    }

    &-nav {
        position: relative;
        border-bottom: none;
    }

    &-nav--action svg {
        opacity: 0;
    }

    &-nav--action:first-child {
        margin-right: 20px;
        padding-right: 20px;

        &::before {
            font-family: 'material icons', sans-serif;
            font-size: 24px;
            line-height: 20px;
            color: rgba(188, 156, 255, 1);
            content: '\e5c4';
            position: absolute;
            top: 51%;
            transform: translate(50%, -50%);
        }
    }

    &-nav--action:last-child {
        margin-left: 20px;
        padding-left: 20px;

        &::before {
            font-family: 'material icons', sans-serif;
            font-size: 24px;
            line-height: 20px;
            color: rgba(188, 156, 255, 1);
            content: '\e5c8';
            position: absolute;
            top: 51%;
            transform: translate(-40%, -50%);
        }
    }

    &-nav--title,
    &-nav--title i {
        @include h2-font;
    }

    &-nav--title {
        padding: 12px;
        width: 119px;
    }

    &-body--day-names {
        margin-bottom: 11px;
    }

    &-body--day-name {
        @include h3-font;
        color: $pur;
        text-transform: capitalize;
    }

    &-cell.-day- {
        @include h3-font;
        color: $ds50;
    }

    &-cell.-current-,
    &-cell.-focus-,
    &-cell.-selected-,
    &-cell.-range-from-.-range-to-,
    &-cell.-range-from-.-range-to-.-focus-,
    &-cell.-other-month-.-range-to-.-focus- {
        border-radius: 50%;
        
    }

    &-cell.-range-from-.-focus-,
    &-cell.-selected-.-range-from-,
    &-cell.-other-month-.-focus-,
    &-cell.-other-month-.-focus-.-range-from- {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        
    }

    &-cell.-selected-.-range-to-,
    &-cell.-range-to-.-focus-,
    &-cell.-other-month-.-range-to-.-focus- {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
    }
    &-cell.-other-month-.-in-range-.-focus-,
    &-cell.-in-range-.-focus- {
        border-radius: 0;
    }

    &-cell.-disabled- {
        color: $ds25;

    }

    &-cell.-current- {
        color: white;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

    }

    &-cell.-selected-,
    &-cell.-selected-.-range-from-,
    &-cell.-selected-.-range-to-,
    &-cell.-range-from-.-focus-,
    &-cell.-range-to-.-focus-,
    &-cell.-other-month-.-selected-.-range-to-,
    &-cell.-other-month-.-selected-.-range-from- {
        color: white;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    }

    &-cell.-selected-.-focus-,
    &-cell.-current-.-focus-,
    &-cell.-other-month-.-selected-.-range-to-.-focus-,
    &-cell.-other-month-.-selected-.-range-from-.-focus- {
        background: linear-gradient(180deg, #BC9CFF 100%, #8BA4F9 0%);
    }

    &-cell.-in-range-,
    &-cell.-other-month-.-in-range- {
        background: linear-gradient(180deg, rgba(188, 156, 255, .25), rgba(139, 164, 249, .25));

    }

    &-cell.-range-to-,
    &-cell.-range-from- {
        border: none;
    }
    &-cell.-selected-.-range-from-{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(188, 156, 255, .25), rgba(139, 164, 249, .25));
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
    }
    
    &-cell.-selected-.-range-to-,
    &-cell.-range-to-.-focus-{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(188, 156, 255, .25), rgba(139, 164, 249, .25));
            
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    &--buttons {
        border-top: none;
        padding: 0 14px;
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        @include h3-font;
    }

    &-button {
        color: $pur;
        text-transform: uppercase;

        & span {
            padding-bottom: 30px;
        }
    }
}

.filterdate {
    position: relative;
    width: 266px;

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__input {
        @include text-font;
        text-transform: lowercase;
        padding-bottom: 3px;
        
    }

    .date-dropdown__icon {
        left: 165px;
    }
}

.iqdropdown-buttons {
    display: flex;
    justify-content: space-between;
    padding: 12px 7px 10px 14px;
    &__apply,
    &__clear {
        @include h3-font;
        color: $pur;
        text-transform: uppercase;
    }
}
.calendar{
    background: transparent;
    border: none;
    position: relative;
     span.material-icons,
    input,
    label{
        display: none;
    }
    margin-bottom: 5px;
    .date-dropdown{
        margin: 0px;
    }
}