@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

@import '../pug/ui-kit/headers/header-logo/header-logo.scss';

.body--gray{
    background: #F4F4F6;
}
.body--white{
    background: #fff;
}

h1 {
    @include h1-font;
}



.ds100 {
    background: $ds100;
}

.ds75 {
    background: $ds75;
}

.ds50 {
    background: $ds50;
}

.ds25 {
    background: $ds25;
}

.ds5 {
    background: $ds5;
}

.pur {
    background: $pur;
}

.gre {
    background: $gre;
}

.color-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 6px;
    padding-top: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 281px;
        height: 650px;
        margin: 145px 150px;
        background-color: #fff;
    }

    &__item {
        margin-top: 7px;
        font-size: 24px;
        margin-bottom: 32px;
        @include h1-font;
    }

    &__item:last-child {
        padding-bottom: 0;
    }

    &__item-num {
        font-weight: normal;
    }
}

.font-container {
    margin-right: 158px;
    margin-top: 145px;
    display: flex;
    flex-direction: row;

    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__field-name {
        margin-bottom: 80px;
        margin-right: 30px;
        @include h1-font;
        color: $ds25 !important;
        font-weight: normal;
        text-align: center;
    }

    &__field-name--h2 {
        @include h2-font;
        margin-bottom: 74px;
        font-weight: normal;
    }

    &__field-name--h3 {
        @include h3-font;
        margin-bottom: 50px;
        font-weight: normal;
    }

    &__field-name--body {
        @include text-font;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__description-text {
        margin-bottom: 51px;
    }

    &__description-text--h1 {
        @include h1-font;
        max-width: 369px;
    }

    &__description-text--h2 {
        @include h2-font;
        max-width: 312px;
    }

    &__description-text--h3 {
        @include h3-font;
        max-width: 186px;
    }

    &__description-text--body {
        @include text-font;
        max-width: 301px;
    }
}

.header {
    @include text-font;
    line-height: 17px;
    padding-right: 0px;
    width: 1440px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px $ds5;
    position: relative;
    &__wrapper{
        width: 1160px;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        padding: 15px 0px
    }

    &__navbar {
        color: $ds50;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 769px;
        height: 70px;
    }

    &__navbar--logged {
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        margin-right: 1px;
    }

    &__navbar-list {
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__navbar-list--logged {
        position: relative;
        justify-content: flex-start;

        &:nth-child(5) {
            width: 92px;
        }
    }

    &__navbar-item--active {
        font-weight: 700;
        line-height: 17px;
        width: fit-content;
        color: $ds75;
    }

    &__navbar-item {
        display: flex;
        align-items: center;
        @include text-font;
        color: $ds50;
        line-height: 17px;
        margin-right: 21px;
    }
    &__navbar-item--logged{
        margin-right: 0;
        height: 30px;
        padding-left: 20px;
        border-left: 1px solid #E5E5E5;
    }
    &__navbar-item:nth-of-type(4) {
        margin-right: 20px;



    }

    &__navbar-icon {
        line-height: 20px;
        width: 21px;
        height: 24px;
        margin: 5px 2px 0 0px;
        position: relative;

        &:hover .header__droplist {
            display: block;
        }
    }

    &__navbar-icon--logged {
        padding-left: 1px;
        padding-right: 1px;
    }

    &__droplist {
        display: none;
        position: absolute;
        top: 18px;
        left: -92px;
        min-width: 116px;
        @include text-font;
        border-radius: 6px;
        color: $ds50;
        z-index: 1;
        margin-top: 6px;
    }

    &__droplist--service {
        min-width: 74px;
        left: -50px;
    }

    &__droplist-item {
        background: #fff;
        border: solid 2px $ds5;
        border-bottom: 0;
        padding-bottom: 2px;
        margin-left: 0px;
        text-align: center;
        box-shadow: 2px 4px 4px 0px $ds50;

        &:hover {
            background: rgba(255, 255, 255, 0.616);
            box-shadow: 2px 2px 2px 2px $ds5;
            color: $ds75;
        }

        &:last-child {

            border: solid 2px $ds5;
        }
    }

    &__buttons {
        display: flex;
        width: 303px;
    }

    &__buttons-list {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
    }

    &__buttons-item {
        text-transform: uppercase;
        padding: 11px 20px 10px 0;
        position: relative;
        @include h3-font;
        text-align: center;
        border-radius: 24px;
    }

    &__buttons-gradient {
        position: relative;
        background: linear-gradient(to bottom, (#BC9CFF 0%, #8BA4F9 100%));
        padding: 2px;
        border-radius: 24px;
    }

    &__buttons-item--login {
        color: $pur;
        background: #fff;
        border-radius: 22px;
        padding: 8px 18px;
    }

    &__buttons-item--reg {
        color: #fff;
        background: linear-gradient(to bottom, (#BC9CFF 0%, #8BA4F9 100%));
        border-radius: 22px;
        padding: 10px 20px;
    }

    &__separator {
        padding-left: 0px;
        width: 1px;
        height: 30px;
        margin-right: 1px;
    }
}



.footer {
    background-color: #fff;
    width: 1440px;
    min-height: 373px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    position: relative;

    &__container {
        min-width: 1160px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__block {
        padding-top: 100px;
        max-width: 260px;
    }

    &__block:not(:first-of-type) {
        margin-top: 5px;
    }

    &__block:nth-child(1) {
        margin-right: 39px;
    }

    &__block:nth-child(2) {
        margin-right: 57px;
    }

    &__block:nth-child(3) {
        margin-right: 92px;
    }

    &__block:nth-child(4) {
        margin-right: 51px;
    }

    &__list {
        @include h3-font;
        text-transform: uppercase;
    }


    &__item,
    &__text {
        @include text-font;
        text-transform: none;
    }

    &__text {
        padding-top: 18px;
    }

    &__item:first-child {
        padding-top: 21px;
    }

    &__item {
        padding-bottom: 20px;
        color: $ds50;
        line-height: 18px;
    }

    &__block:last-of-type .footer__item:first-of-type {
        padding-top: 18px;
        line-height: 24px;
        padding-bottom: 22px;

    }

    &__copyright {
        background: #fff;
        display: flex;
        justify-content: center;
    }

    &__border {
        border-top: solid 1px rgba(31, 32, 65, 0.1);
    }

    &__copyright-container {
        position: relative;
        min-width: 1161px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1px;
    }

    &__copyright-text {
        @include text-font;
        line-height: 17px;
    }

    &__copyright-links {
        margin-top: 3px;
        display: flex;
        width: 112px;
        justify-content: space-between;
        line-height: 24px;
    }

    &__copyright-link {
        display: block;
        width: 22px;
        margin-right: 22px;
    }

    &__copyright-img {
        min-width: 22px;
        min-height: 22px;
    }

    &__small {
        width: 768px;
        height: 367px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0px 10px 20px $ds5;
    }

    &__small-item {
        padding: 20px 0 25px 0;
    }
}

.forms {
    &__wrapper {
        position: relative;
        top: 0;
        height: 1060px;
        width: 1160px;
        margin: 42px 140px 150px;
    }
}

.cards{
    &__wrapper {
    padding-top: 40px;
    padding-left: 140px;
    display: flex;

    }
    &__container{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    &__item{
        margin-bottom: 40px;
    }
}

.room-finder {
    background: #fff;
    width: 380px;
    height: 374px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 0px;

    &__container {
        padding: 0 30px;
    }

    &__text {
        padding: 40px 0 12px;
        @include h1-font;
        color: $ds100;
    }

    &__date {
        display: flex;
        height: 64px;
        margin-bottom: 31px;
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
        margin-left: 1px;
        margin-top: 30px;
        width: 320px;
        margin-bottom: 30px;

    }

    &__button--wide {
        width: 320px;
    }
}

.air-datepicker-cell+.-current- {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.book-form {
    background-color: #fff;
    width: 380px;
    height: 512px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 29px 30px;
    margin-left: 1px;

    &__room {
        display: flex;
        justify-content: space-between;
        width: 320px;
        align-items: baseline;
        padding-bottom: 10px;
        margin-right: 1px;
    }

    &__room-info {
        display: flex;
        align-items: baseline;
    }

    &__room-text {
        display: inline;
        @include h1-font;
        font-size: 25px;
    }
    &__room-number .book-form__room-text:nth-of-type(2){
        margin: 0 3px;
    }

    &__room-text--small {
        @include text-font;
        line-height: 17px;
        font-weight: 700;
    }

    &__room-text--big {
        @include text-font;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
    }

    &__room-text--class {
        @include h3-font;
        color: $pur;
        width: 40px;
        margin-right: 5px;
        margin-left: 4px;
        margin-bottom: 1px;
        padding-right: 2px;
        text-transform: uppercase;
    }

    &__room-text--card {
        margin-left: 6px;
    }

    &__room-price {
        margin-left: 10px;
    }

    &__room-price--nomargin {
        margin-left: 0;
    }

    &__room-text--name {
        @include h3-font;
        color: $ds50;
        font-size: 12px;
        font-weight: 400;
    }

    &__room-text--price {
        @include text-font;
        color: $ds50;
        line-height: 18px;
        font-weight: 700;
    }

    &__room-text--normalprice {
        font-weight: 400;
    }

    &__summary {
        display: flex;
        height: 102px;
        width: 320px;
        margin-left: 1px;
        flex-direction: row;
        margin-bottom: 5px;
    }

    &__summary-block {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
    }

    &__summary-line {
        @include text-font;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        line-height: 24px;
        max-width: 214px;

        &:last-of-type {
            line-height: 18px;
            margin-top: 3px;
        }
    }

    &__summary-icon,
    &__summary-price {
        display: flex;
        flex-direction: column;
    }

    &__summary-icon {
        margin-right: 22px;
    }

    .book-form__summary-span {
        text-align: center;
        @include text-font;
        line-height: 20px;
        font-weight: 700;
        color: $ds25;
        width: 20px;
        height: 20px;
        border: 1px solid $ds25;
        border-radius: 50%;
        justify-content: space-between;
        margin-bottom: 15px;

        &:first-of-type {
            opacity: 0;
        }
    }

    &__summary-price {
        @include text-font;
        width: 57px;
        align-items: flex-end;
    }

    &__summary-cost {

        margin-bottom: 10px;
    }

    &__total {
        width: 320px;
        display: flex;
        justify-content: space-between
    }

    &__total-line {
        @include h2-font;
        margin: 30px 0 20px;
    }

    &__button-wrapper {
        margin-bottom: 30px;
    }
}

.calendar {
    width: 320px;
    height: 369px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.register-form {
    width: 380px;
    height: 645px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 40px 29px 45px;
    margin-bottom: 20px;
    @include shadow;
    .form__h1title{
        margin-bottom: 21px;
    }
    &__sex {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        margin: 3px 0 7px;
        @include text-font;
    }

    &__birthday-label,
    &__account-label {
        @include h3-font;
        text-transform: uppercase;
        margin: 10px 0;
    }

    &__subscription-label {
        @include text-font;
    }

    &__button-text {
        @include h3-font;
        text-transform: uppercase;
        color: #fff;
    }

    &__button-arrow {
        color: #fff;
    }

    &__login {
        width: 320px;
        padding-top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__login-text {
        @include text-font;
        line-height: 18px;
        color: rgba(0, 0, 0, 1)
    }
}

.register-form__cred-input,
.register-form__birthday-input,
.register-form__account-input {
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 320px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-bottom: 10px;
}

.register-form__cred-input::placeholder,
.register-form__birthday-input::placeholder,
.register-form__account-input::placeholder {
    @include text-font;

    line-height: 18px;
    color: $ds25;
    padding: 13px 273px 13px 15px;
}

.login-form {
    width: 380px;
    min-height: 358px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 39px 30px 45px;
    @include shadow;
    .form__h1title{
        margin-bottom: 21px;
    }
    &__button {
        margin-top: 20px;
        margin-bottom: 28px;
    }

    &__login {
        width: 320px;
        padding-top: 2px;
        @include text-font;
        line-height: 18px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__login-text {
        width: 164px;
    }
}

.room,
.roomluxe {
    height: 257px;
    width: 268px;
    background-color: #fff;
    @include shadow;
    border: none;

    &__info-wrapper {
        margin: 0px 16px 19px 20px;
    }

    &__img img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 151px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__number {
        display: flex;
        align-items: baseline;
        justify-content: start;
    }

    &__price {
        margin-top: 1px;
        margin-right: 1px;
    }

    &__rating {
        padding-top: 10px;
        padding-right: 4px;
        border-top: 1px solid rgba(31, 32, 65, 0.1);
        display: flex;
        justify-content: space-between;
    }

    &__rating-text {
        margin-top: 2px;
    }
}

.landing {

    &__wrapper {
        position: relative;
        background-size: cover;
        height: 900px;
        width: 100%;
        background-image: url('../images/background.jpg');
    }
    &__container{
        height: 830px;
    }
    &__room-finder {
        position: absolute;
        top: 139px;
        left: 139px;
    }

    &__text {
        position: absolute;
        text-align: right;
        bottom: 21px;
        right: 134px;
        display: block;
        @include text-font;
        width: 297px;
        height: 48px;
    }
}

.registration {
    &__main {
        position: relative;
        background: url("../images/background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
        height: 753px;
    }

    &__container {
        height: 683px;
    }

    &__register-form {
        position: absolute;
        top: 88px;
        left: 533px;
    }
}

.signin {
    &__main {
        background: url("../images/background3.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right 1px top 0px;
        width: 1440px;
        height: 773px;

    }

    &__wrapper {
        margin-right: 3px;
        display: flex;
        justify-content: center;
    }

    &__container {
        height: 702px;
    }

    &__login-form {
        margin-top: 172px;
    }
}

.search {
    &__wrapper {
        height: 1346px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px 141px 0 139px;
    }

    &__main .footer__wrapper {
        margin-top: 1px;

        .footer {
            padding-top: 8px;
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
    }
    &__filter-container {
        width: 266px;
        margin-left: 1px;
    }
    &__filter-item {
        margin-bottom: 10px;

        &:nth-of-type(2) {
            margin-bottom: 3px;
        }

        &:nth-of-type(5) .form__title {
            margin-bottom: 0px;
        }

        &:nth-of-type(6) {
            margin-bottom: 8px;

            .form__title {
                margin-bottom: 4px;
            }
        }
    }
    &__filter-item .range-slider {
        margin-top: 22px;
    }

    &__range-text {
        @include h3-font;
        line-height: 14px;
        color: $ds50;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__rooms {
        margin-left: 1px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 21px;
        grid-column-gap: 12px;
    }

    &__rooms-container {
        margin-top: 10px;
        margin-left: 59px;
    }

    &__rooms-pagination {
        margin-left: 288px;
        margin-top: 40px;
        width: 241px;
    }
}

.roomdet {
    &__main {
        background: #fff;
    }

    &__wrapper {
        margin-bottom: 10px;
    }

    &__img-container {
        margin-left: -1px;
        display: flex;

        &:first-child {
            height: 485px;
        }
    }

    &__img-row {
        display: flex;
        flex-direction: column;

        .roomdet__img {
            object-fit: cover;
            min-height: 242px;

            &:first-child {
                object-position: 40% 50%;
            }
        }
    }

    &__info-wrapper {
        display: flex;
        margin: 70px 70px 62px 140px;
    }

    &__info-container {
        margin-right: 66px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    &__info-title {
        margin-bottom: 21px;
    }

    &__info {
        margin-bottom: 14px;
    }

    &__vote {
        position: relative;
    }

    &__chart {
        right: 130px;
        position: absolute;
        height: 124px;
        width: 323px;
      
    }

    &__review-container {
        position: absolute;
    }

    &__review {
        position: relative;
        height: 306px;
        width: 712px;
        left: -2px;
        margin-left: 1px;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 29px;
    }

    &__review-num {
        @include text-font;
        line-height: 14px;
        position: absolute;
        top: -37px;
        right: 10px;
    }

    &__rules {
        margin-right: 86px;

        .form__h2title {
            margin-left: 20px;
            margin-bottom: 18px;
        }
    }

    &__rules-container {
        margin-top: 1px;

        .bullet {
            padding-bottom: 0;
        }
    }

    &__cancel {
        .form__h2title {
            margin-bottom: 18px;
        }
    }

    &__cancel-text {
        @include text-font;
        width: 340px;
    }
}

.chartjslegend {
    position: relative;
    li:nth-of-type(3) span {
        background: linear-gradient(180deg, rgba(111, 207, 151, 1), rgba(102, 210, 234, 1)) !important;
    }
    li:nth-of-type(2) span {
        background: linear-gradient(180deg, rgb(187, 156, 255), rgba(139, 164, 249, 1)) !important;
    }
    li:nth-of-type(1) span {
        background: linear-gradient(180deg, rgba(144, 144, 144, 1), rgba(61, 73, 117, 1)) !important;
    }

}

.index{
    &__nav{
        margin: 230px 40px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-decoration: underline;
    }
}
.index{
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        a{
            margin-bottom: 20px;
        }
        img:hover{
            transform: scale(1.5, 1.5);
            transition: all 0.3s
        }
    }
}
@import 'forms.scss';