@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

@import '../pug/ui-kit/headers/header-logo/header-logo.scss';
@import '../pug/ui-kit/colorstype/color-box/color-box.scss';
@import '../pug/ui-kit/colorstype/font/font.scss';
@import '../pug/ui-kit/headers/footer/footer.scss';
@import '../pug/ui-kit/headers/header/header.scss';
@import '../pug/ui-kit/headers/header-logged/header-logged.scss';
@import '../pug/ui-kit/cards/book-form/book-form.scss';
@import '../pug/ui-kit/cards/calendar/calendar.scss';
@import '../pug/ui-kit/cards/login-form/login-form.scss';
@import '../pug/ui-kit/cards/register-form/register-form.scss';
@import '../pug/ui-kit/cards/room/room.scss';
@import '../pug/ui-kit/cards/room-finder/room-finder.scss';
@import '../pug/ui-kit/cards/roomluxe/roomluxe.scss';

@import '../pug/ui-kit/form/subscription-text-field/subscription-text-field.scss';
@import '../pug/ui-kit/form/bullet-list/bullet-list.scss';
@import '../pug/ui-kit/form/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../pug/ui-kit/form/text-field/text-field.scss';
@import '../pug/ui-kit/form/checkbox-buttons/checkbox-buttons.scss';
@import '../pug/ui-kit/form/rate/rate.scss';
@import '../pug/ui-kit/form/like/like.scss';
@import '../pug/ui-kit/form/buttons/button/button.scss';
@import '../pug/ui-kit/form/buttons/button-tr/button-tr.scss';
@import '../pug/ui-kit/form/buttons/icon-link/icon-link.scss';
@import '../pug/ui-kit/form/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '../pug/ui-kit/form/pay-button/pay-button.scss';
@import '../pug/ui-kit/form/pagination/pagination.scss';
@import '../pug/ui-kit/form/ups/ups.scss';
@import '../pug/ui-kit/form/toggle/toggle.scss';
@import '../pug/ui-kit/form/review/review.scss';
@import '../pug/ui-kit/form/range-slider/range-slider.scss';
@import '../pug/ui-kit/form/radio-buttons/radio-buttons.scss';
@import '../pug/ui-kit/form/masked-text-field/masked-text-field.scss';
@import '../pug/ui-kit/form/filter-date-dropdown/filter-date-dropdown.scss';
@import '../pug/ui-kit/form/date-dropdown/date-dropdown.scss';
@import '../pug/ui-kit/form/guest-dropdown/guest-dropdown.scss';
@import '../pug/ui-kit/form/dropdown/dropdown.scss';

.body--gray{
    background: #F4F4F6;
}
.body--white{
    background: #fff;
}

.forms {
    &__wrapper {
        position: relative;
        top: 0;
        height: 1060px;
        width: 1160px;
        margin: 42px 140px 150px;
    }
}

.cards{
    &__wrapper {
    padding-top: 40px;
    padding-left: 140px;
    display: flex;

    }
    &__container{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    &__item{
        margin-bottom: 40px;
    }
}


.form {
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding-left: 110px;
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    &__title {
        margin-top: 10px;
        @include h3-font;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__title--acc{
        margin-bottom: 5px;
    }
    &__h1title{
        @include h1-font;
        text-transform: initial;
        margin-bottom: 23px;
        margin-right: 1px;
    }
    &__h2title{
        @include h2-font;
        margin-bottom: 20px;
    }
}

.like-container {
    display: flex;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 217px;
    justify-content: space-between;
}
.space{
    height: 40px;
    width: 200px;
}

.datedropdown-container {
    display: flex;
}


.search__filter{
    .filterdate .date-dropdown__icon{
        left: 232px;
    }
    .filterdate__input{
        width: 266px;
    }
}

.landing {

    &__wrapper {
        position: relative;
        background-size: cover;
        height: 900px;
        width: 100%;
        background-image: url('../assets/images/background.jpg');
    }
    &__container{
        height: 830px;
    }
    &__room-finder {
        position: absolute;
        top: 139px;
        left: 139px;
    }

    &__text {
        position: absolute;
        text-align: right;
        bottom: 21px;
        right: 134px;
        display: block;
        @include text-font;
        width: 297px;
        height: 48px;
    }
}

.registration {
    &__main {
        position: relative;
        background: url("../assets/images/background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
        height: 753px;
    }

    &__container {
        height: 683px;
    }

    &__register-form {
        position: absolute;
        top: 88px;
        left: 533px;
    }
}

.signin {
    &__main {
        background: url("../assets/images/background3.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right 1px top 0px;
        width: 1440px;
        height: 773px;

    }

    &__wrapper {
        margin-right: 3px;
        display: flex;
        justify-content: center;
    }

    &__container {
        height: 702px;
    }

    &__login-form {
        margin-top: 172px;
    }
}

.search {
    &__wrapper {
        height: 1346px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px 141px 0 139px;
    }

    &__main .footer__wrapper {
        margin-top: 1px;

        .footer {
            padding-top: 8px;
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
    }
    &__filter-container {
        width: 266px;
        margin-left: 1px;
    }
    &__filter-item {
        margin-bottom: 10px;

        &:nth-of-type(2) {
            margin-bottom: 3px;
        }

        &:nth-of-type(5) .form__title {
            margin-bottom: 0px;
        }

        &:nth-of-type(6) {
            margin-bottom: 8px;

            .form__title {
                margin-bottom: 4px;
            }
        }
    }
    &__filter-item .range-slider {
        margin-top: 22px;
    }

    &__range-text {
        @include h3-font;
        line-height: 14px;
        color: $ds50;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__rooms {
        margin-left: 1px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 21px;
        grid-column-gap: 12px;
    }

    &__rooms-container {
        margin-top: 10px;
        margin-left: 59px;
    }

    &__rooms-pagination {
        margin-left: 288px;
        margin-top: 40px;
        width: 241px;
    }
}

.roomdet {
    &__main {
        background: #fff;
    }

    &__wrapper {
        margin-bottom: 10px;
    }

    &__img-container {
        display: flex;

        &:first-child {
            height: 485px;
        }
    }

    &__img-row {
        display: flex;
        flex-direction: column;

        .roomdet__img {
            object-fit: cover;
            min-height: 242px;

            &:first-child {
                object-position: 40% 50%;
            }
        }
    }

    &__info-wrapper {
        display: flex;
        margin: 70px 70px 62px 140px;
    }

    &__info-container {
        margin-right: 66px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    &__info-title {
        margin-bottom: 21px;
    }

    &__info {
        margin-bottom: 14px;
    }

    &__vote {
        position: relative;
    }

    &__chart {
        right: 130px;
        position: absolute;
        height: 124px;
        width: 323px;
      
    }

    &__review-container {
        position: absolute;
    }

    &__review {
        position: relative;
        height: 306px;
        width: 712px;
        left: -2px;
        margin-left: 1px;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 29px;
    }

    &__review-num {
        @include text-font;
        line-height: 14px;
        position: absolute;
        top: -37px;
        right: 10px;
    }

    &__rules {
        margin-right: 86px;

        .form__h2title {
            margin-left: 20px;
            margin-bottom: 18px;
        }
    }

    &__rules-container {
        margin-top: 1px;

        .bullet {
            padding-bottom: 0;
        }
    }

    &__cancel {
        .form__h2title {
            margin-bottom: 18px;
        }
    }

    &__cancel-text {
        @include text-font;
        width: 340px;
    }
}

.chartjslegend {
    position: relative;
    li:nth-of-type(3) span {
        background: linear-gradient(180deg, rgba(111, 207, 151, 1), rgba(102, 210, 234, 1)) !important;
    }
    li:nth-of-type(2) span {
        background: linear-gradient(180deg, rgb(187, 156, 255), rgba(139, 164, 249, 1)) !important;
    }
    li:nth-of-type(1) span {
        background: linear-gradient(180deg, rgba(144, 144, 144, 1), rgba(61, 73, 117, 1)) !important;
    }

}

.index{
    &__nav{
        margin: 230px 40px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-decoration: underline;
    }
}
.index{
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        justify-content: space-between;
        a{
            margin-bottom: 20px;
        }
        img:hover{
            transform: scale(1.5, 1.5);
            transition: all 0.3s
        }
    }
}
