doctype html
html
    head
    body
        include ui-kit/colorstype/header-logo.pug
        .cards__wrapper
            include ui-kit/cards/room-finder
            include ui-kit/cards/book-form
            include ui-kit/cards/calendar
            include ui-kit/cards/register-form
            include ui-kit/cards/login-form
            include ui-kit/cards/room.pug
            include ui-kit/cards/room.pug