doctype html
html
    head
    body.body--white
        include ui-kit/headers/header-logo/header-logo.pug
        .color-box__wrapper
            include ui-kit/colorstype/color-box/color-box
            include ui-kit/colorstype/font/font
            