doctype html
html
    head
    body
        include ui-kit/colorstype/header-logo.pug
        .color-box__wrapper
            .color-box__container
                include ui-kit/colorstype/color-box.pug
                .color-box__container-description
                    ul.color-box__list
                        li.color-box__item
                            p(class='color-box__item-name') Dark Shade 100%
                            p(class='color-box__item-num') #1F2041
                        li.color-box__item
                            p(class='color-box__item-name') Dark Shade 75%
                            p(class='color-box__item-num') #1F2041
                        li.color-box__item
                            p(class='color-box__item-name') Dark Shade 50%
                            p(class='color-box__item-num') #1F2041
                        li.color-box__item
                            p(class='color-box__item-name') Dark Shade 25%
                            p(class='color-box__item-num') #1F2041
                        li.color-box__item
                            p(class='color-box__item-name') Dark Shade 5%
                            p(class='color-box__item-num') #1F2041
                        li.color-box__item
                            p(class='color-box__item-name') Purpfsdfsdfle
                            p(class='color-box__item-num') #BC9CFF
                        li.color-box__item
                            p(class='color-box__item-name') Green
                            p(class='color-box__item-num') #6FCF97
            .font-container
                .font-container__field
                    p(class='font-container__field-name') H1
                    p(class='font-container__field-name font-container__field-name--h2') H2
                    p(class='font-container__field-name font-container__field-name--h3') H3
                    p(class='font-container__field-name font-container__field-name--body') Body
                .font-container__description
                    p(class='font-container__description-text font-container__description-text--h1') This one is the sub-section or widget 
                    p(class='font-container__description-text font-container__description-text--h2') Next one is the item title inside widgets
                    p(class='font-container__description-text font-container__description-text--h3') This is a label or CTA text
                    p(class='font-container__description-text font-container__description-text--body') This is the body text which is used for most of the design, like paragraphs, lists, etc.