doctype html
html
    head
        title Form
    include ui-kit/mixin
    body.body--white
        include ui-kit/headers/header-logo/header-logo.pug
        .form 
            .form__block
                h3.form__title bullet list
                include ui-kit/form/bullet-list/bullet-list
            .form__block
                h3.form__title Buttons
                include ui-kit/form/buttons/buttons
            .form__block
                h3.form__title checkbox buttons
                include ui-kit/form/checkbox-buttons/checkbox-buttons
            .form__block
                .datedropdown-container
                    h3.form__title Date dropdown
                        +calendar('arrival2')
                    h3.form__title Date dropdown
                        +calendar('departure2')
            .form__block
                h3.form__title Dropdown
                include ui-kit/form/dropdown/dropdown
                include ui-kit/form/expandable-checkbox-list/expandable-checkbox-list
            .form__block
                h3.form__title Dropdown
                include ui-kit/form/guest-dropdown/guest-dropdown
            .form__block
                h3.form__title filter date dropdown
                include ui-kit/form/filter-date-dropdown/filter-date-dropdown
            .form__block
                h3.form__title Like button 
                .like-container
                    include ui-kit/form/like/like
                    include ui-kit/form/like/like-2
            .form__block
                h3.form__title masked text field
                include ui-kit/form/masked-text-field/masked-text-field
            .form__block
                h3.form__title pagination
                include ui-kit/form/pagination/pagination
            .form__block
                h3.form__title pay button
                include ui-kit/form/pay-button/pay-button
            .form__block
                h3.form__title Radio buttons
                include ui-kit/form/radio-buttons/radio-buttons
            .form__block
                h3.form__title range slider
                include ui-kit/form/range-slider/range-slider
            .form__block
                h3.form__title rate button
                include ui-kit/form/rate/rate
            .form__block
                h3.form__title review
                include ui-kit/form/review/review
            .form__block
                h3.form__title rich checkbox buttons
                include ui-kit/form/rich-checkbox-buttons/rich-checkbox-buttons
            .form__block
                h3.form__title subscription text field
                +subscription
            .form__block
                h3.form__title text field
                .text-field-container
                    p.text-field__descr default
                    include ui-kit/form/text-field/text-field
                .text-field-container
                    p.text-field__descr hover / focus
                    include ui-kit/form/text-field/text-field-hover 
            .form__block
                h3.form__title toggle
                include ui-kit/form/toggle/toggle
            .form__block
                h3.form__title ups
                include ui-kit/form/ups/ups