doctype html
html
    head
    include ui-kit/mixin
    body.form 
        .form__block
            h3.form__title bullet list
            include ui-kit/form/bullet-list
        .form__block
            h3.form__title Buttons
            include ui-kit/form/buttons
        .form__block
            h3.form__title checkbox buttons
            include ui-kit/form/checkbox-buttons
        .form__block
            .datedropdown-container
                h3.form__title Date dropdown
                    include ui-kit/form/date-dropdown
                h3.form__title Date dropdown
                    include ui-kit/form/date-dropdown
        .form__block
            h3.form__title Dropdown
            include ui-kit/form/dropdown
            include ui-kit/form/expandable-checkbox-list
        .form__block
            h3.form__title Dropdown
            include ui-kit/form/guest-dropdown
        .form__block
            h3.form__title filter date dropdown
            include ui-kit/form/filter-date-dropdown
        .form__block
            h3.form__title Like button 
            .like-container
                include ui-kit/form/like
                include ui-kit/form/like-2
        .form__block
            h3.form__title masked text field
            include ui-kit/form/masked-text-field
        .form__block
            h3.form__title pagination
            include ui-kit/form/pagination
        .form__block
            h3.form__title pay button
            include ui-kit/form/pay-button
        .form__block
            h3.form__title Radio buttons
            include ui-kit/form/radio-buttons
        .form__block
            h3.form__title range slider
            include ui-kit/form/range-slider
        .form__block
            h3.form__title rate button
            include ui-kit/form/rate
        .form__block
            h3.form__title review
            include ui-kit/form/review
        .form__block
            h3.form__title rich checkbox buttons
            include ui-kit/form/rich-checkbox-buttons
        .form__block
            h3.form__title subscription text field
                include ui-kit/form/subscription-text-field
        .form__block
            h3.form__title text field
            .text-field-container
                p.text-field__descr default
                include ui-kit/form/text-field 
            .text-field-container
                p.text-field__descr hover / focus
                include ui-kit/form/text-field-hover 
        .form__block
            h3.form__title toggle
            include ui-kit/form/toggle
        .form__block
            h3.form__title ups
            include ui-kit/form/ups