doctype html
html
    head
    body
        .header__wrapper
            include ui-kit/colorstype/header-logo.pug
            include ui-kit/headers/header.pug
            include ui-kit/headers/header-logged.pug
            include ui-kit/headers/footer.pug
            include ui-kit/headers/footer-small.pug