doctype html
html
    head
        title Landing page
    body
        include ui-kit/mixin
        main.main
            .landing__wrapper
                .header__container
                    include ui-kit/headers/header/header
                .landing__container 
                    .landing__room-finder
                        include ui-kit/cards/room-finder
                    p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
                .footer__wrapper 
                    include ui-kit/headers/footer/footer
