doctype html
html
    head
        title Registration page
    body
        include ui-kit/mixin
        main.registration__main
            .header__container
                include ui-kit/headers/header
            .registration__wrapper
                .registration__container 
                    .registration__register-form 
                        +register('зарегистрироваться')
            .footer__wrapper 
                include ui-kit/headers/footer
            