.footer__small
    a.footer__logo-link(href='#')
        img.footer__logo(src=require("../images/svg/logo.svg"))
    .footer__small-item
        p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
    .footer__copyright-links
        +twitter
        +facebook 
        +instagram



