.footer
    .footer__container
        .footer__block
            img.footer__logo(src=require("../images/svg/logo.svg"))
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__block
            ul.footer__list навигация
                li.footer__item О нас
                li.footer__item Новости
                li.footer__item Служба поддержки
                li.footer__item Услуги
        .footer__block
            ul.footer__list о нас
                li.footer__item О сервисе
                li.footer__item Наша команда
                li.footer__item Вакансии
                li.footer__item Инвесторы
        .footer__block
            ul.footer__list Служба поддержки
                li.footer__item Соглашения
                li.footer__item Сообщества
                li.footer__item Связь с нами
        .footer__block
            ul.footer__list Подписка
                li.footer__item Получайте специальные предложения и новости сервиса
                li.footer__item
                    input.footer__input(type='email', placeholder='Email')
                    a(href='#')
                        span.material-icons.footer__email arrow_forward
.footer__copyright
    .footer__container
        .footer__copyright-text
            p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__copyright-links
            a.footer__copyright-link(href='#')
                img(alt='twitter', src=require("../images/svg/twit.png"))
            a.footer__copyright-link(href='#')
                img(alt='facebook', src=require("../images/svg/face.png"))
            a.footer__copyright-link(href='#')
                img(alt='instagram', src=require("../images/svg/inst.png"))