.footer__small
    a.footer__logo-link(href='#')
        img.footer__logo(src=require("../images/svg/logo.svg"))
    .footer__small-item
        p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
    .footer__copyright-links
        a.footer__copyright-link(href='#')
            img(alt='twitter', src=require("../images/svg/twit.png"))
        a.footer__copyright-link(href='#')
            img(alt='facebook', src=require("../images/svg/face.png"))
        a.footer__copyright-link(href='#')
            img(alt='instagram', src=require("../images/svg/inst.png"))



