.date-dropdown 
    label.date-dropdown__label 
    span.material-icons.date-dropdown__icon expand_more
    input.datepicker-here.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' type="text" id='datedropdown')