.filterdate 
    span.material-icons.filterdate-dropdown__icon.filterdate-dropdown__icon--wide expand_more
    input.filterdate__input.datepicker-here(type='text' id='filterdate' placeholder="выберите даты")