.review
    .review__profile
        .review__profile-avatar
        img.review__profile-img(src=require("../images/reviews/profile-pic3.png"))
        .review__like 
            include ../like/like
    .review__info
        p.review__info-name Мурад Сарафанов
        p.review__info-date 5 дней назад
        p.review__info-text.
            Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.