.header
    .header__wrapper.header__wrapper--logged
        .header__logo
            .header__logo-img.header__logo-img--logged
                +logo
        .header__navbar.header__navbar--logged
            ul.header__navbar-list.header__navbar-list--logged
                li.header__navbar-item
                    a(href="#") О нас
                li.header__navbar-item
                    a(href="#") Услуги
                    +droplist('expand_more', 'header__navbar-icon header__navbar-icon--logged')
                li.header__navbar-item 
                    a(href="#") Вакансии
                li.header__navbar-item 
                    a(href="#") Новости
                li.header__navbar-item 
                    a(href="#") Соглашения
                    +droplist('expand_more', 'header__navbar-icon header__navbar-icon--logged')
                li.header__navbar-item.header__navbar-item--logged
                    a(href="#").profile__link Юлий Цезарь