ul.color-box__list
    li.color-box__item
        .color-box.color-box--ds100
        .color-box__container-description
            p(class='color-box__item-name') Dark Shade 100%
            p(class='color-box__item-num') #1F2041
    li.color-box__item
        .color-box.color-box--ds75
        .color-box__container-description
            p(class='color-box__item-name') Dark Shade 75%
            p(class='color-box__item-num') #1F2041
    li.color-box__item
        .color-box.color-box--ds50
        .color-box__container-description
            p(class='color-box__item-name') Dark Shade 50%
            p(class='color-box__item-num') #1F2041
    li.color-box__item
        .color-box.color-box--ds25
        .color-box__container-description
            p(class='color-box__item-name') Dark Shade 25%
            p(class='color-box__item-num') #1F2041
    li.color-box__item
        .color-box.color-box--ds5
        .color-box__container-description
            p(class='color-box__item-name') Dark Shade 5%
            p(class='color-box__item-num') #1F2041
    li.color-box__item
        .color-box.color-box--pur
        .color-box__container-description
            p(class='color-box__item-name') Purple
            p(class='color-box__item-num') #BC9CFF
    li.color-box__item
        .color-box.color-box--gre
        .color-box__container-description
            p(class='color-box__item-name') Green
            p(class='color-box__item-num') #6FCF97